<HEAD>
<style>
#line-chart { display: block; width: 100%; }
</style>
  
<canvas id="line-chart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</HEAD>


<body>
  <label for="devices">Choose a Room:</label>
  <select name="devices" id="devices" onchange="createChart(this.value)"></select>
  </select>

  <div class="chart_continer">
    <canvas id="line-chart"></canvas>
  </div>


</body>



<script>
let todos = document.getElementById('devices');
let newDefault1 = new Option('Select room', null, true, true)
newDefault1.disabled = true
todos.add(newDefault1)
const fetchDevices = () => fetch("devices")
.then(res => res.json())
  .then(data => {
      data.devices.forEach(todo => {
        let option = new Option(todo.name, todo.name)
        console.log(option)
        todos.add(option)
      });
});


fetchDevices();

var timeout = null
var temperatureChart = null
var currentRoom = null

const csvToChartData = csv => {
  const lines = csv.trim().split("\n");
  return lines.map(line => {
    const [date, temperature] = line.split(",");
    return {
      x: date,
      y: temperature
    };
  });
};

function fetchCSV() {
  fetch(currentRoom)
  .then(data => data.text())
  .then(csv => {
    temperatureChart.data.datasets[0].data = csvToChartData(csv);
    temperatureChart.update();
    timeout = setTimeout(fetchCSV(), 60000); // double tap?
  });
}

function createChart(room) {

  currentRoom = room

  console.log("Changing to " + currentRoom);

  const config = {
    type: 'line',
    data: {
      labels: [],
      datasets: [{
        data: [],
        label: "${room}",
        borderColor: "#3e95cd",
        fill: false
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: 'time',
          distribution: 'linear',
        }],
        title: {
          display: false,
        }
      }
    }
  };

  const ctx = document.getElementById("line-chart");
  temperatureChart = new Chart(ctx, config);

  fetchCSV(room);

}


</script>
