<HEAD>
<style>
#line-chart { display: block; width: 100%; }
</style>
  
<canvas id="line-chart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</HEAD>


<body>


  <label for="devices">Choose a Room:</label>

  <select	name="devices" id="devices">
  </select>
  


</body>


<script>


var data = [
    { text: 'foo', value: 'foo' },
    {text: 'bar', value: 'bar' }
];

var select = document.getElementById('devices');
select.options.length = 0; // clear out existing items
for (var i = 0; i < data.length; i++) {
    var d = data[i];
    select.options.add(new Option(d.text, d.value))
}



function exerciseOne(names){
  names.forEach(x => console.log(x));
}



  const config = {
    type: 'line',
    data: {
      labels: [],
      datasets: [{
        data: [],
        label: "Temperature for {{location}}",
        borderColor: "#3e95cd",
        fill: false
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: 'time',
          distribution: 'linear',
        }],
        title: {
          display: false,
        }
      }
    }
  };

const ctx = document.querySelector("#line-chart").getContext("2d");
const temperatureChart = new Chart(ctx, config);

const csvToChartData = csv => {
  const lines = csv.trim().split("\n");
  exerciseOne(lines);
  return lines.map(line => {
    const [date, temperature] = line.split(",");
    return {
      x: date,
      y: temperature
    };
  });
};

const fetchCSV = () => fetch("readings")
  .then(data => data.text())
  .then(csv => {
    temperatureChart.data.datasets[0].data = csvToChartData(csv);
    temperatureChart.update();
    setTimeout(fetchCSV, {{refresh}}); 
});

fetchCSV(); // First fetch!

</script>
