<HEAD>
<style>
#line-chart { display: block; width: 100%; }
</style>
  
<canvas id="line-chart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</HEAD>


<body>
  <label for="devices">Choose a Room:</label>
  <select name="devices" id="devices" onchange="exerciseOne(this.value)"></select>
  </select>
</body>


<script>




let todos = document.getElementById('devices');
let newDefault1 = new Option('Select room', null, true, true)
newDefault1.disabled = true
todos.add(newDefault1)
const fetchDevices = () => fetch("devices")
.then(res => res.json())
  .then(data => {
      data.devices.forEach(todo => {
        let option = new Option(todo.name, todo.name)
        console.log(option)
        todos.add(option)
      });
});


fetchDevices();

  const config = {
    type: 'line',
    data: {
      labels: [],
      datasets: [{
        data: [],
        label: "Temperature for {{location}}",
        borderColor: "#3e95cd",
        fill: false
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: 'time',
          distribution: 'linear',
        }],
        title: {
          display: false,
        }
      }
    }
  };

const ctx = document.querySelector("#line-chart").getContext("2d");
const temperatureChart = new Chart(ctx, config);

const csvToChartData = csv => {
  const lines = csv.trim().split("\n");
  return lines.map(line => {
    const [date, temperature] = line.split(",");
    return {
      x: date,
      y: temperature
    };
  });
};


function fetchCSV(room) {
  fetch(room)
  .then(data => data.text())
  .then(csv => {
    temperatureChart.data.datasets[0].data = csvToChartData(csv);
    temperatureChart.update();
    setTimeout(fetchCSV(room), 60); 
  });
}

</script>
